*/1 * * * * /usr/bin/python3 /path/to/django/manage.py set_overdue_tasks_overdue
*/1 * * * * /usr/bin/python3 /path/to/django/manage.py set_focus_tasks_due_today
*/1 * * * * /usr/bin/python3 /path/to/django/manage.py set_anytime_tasks_waiting_for_now
