{% extends 'base.html' %}

{% block head%}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">

{% endblock %}

{% block main %}

    {% if user.is_authenticated %}
        <div>

            <h2>This is a filtered task list!</h2>
            
            <form method="get" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="filtered_list_task">Filter list</button>
            </form>

            <div class="table">
                <div class="table-row">
                    <div class="table-cell">Name</div>
                    <div class="table-cell">Done</div>
                    <div class="table-cell">Due Date</div>
                    <div class="table-cell">Reminder</div>
                    <div class="table-cell">Focus</div>
                    <div class="table-cell">Readiness</div>
                    <div class="table-cell">Waiting for</div>
                    <div class="table-cell">Tags</div>
                    <div class="table-cell">Notes</div>
                </div>
                <div>
                    {% for task in tasks %}
                    <div class="table-row">
                        <div class="table-cell">{{ task.name }}</div>
                        <div class="table-cell">{{ task.done }}</div>
                        <div class="table-cell">{{ task.due_date }}</div>
                        <div class="table-cell">{{ task.reminder }}</div>
                        <div class="table-cell">{{ task.focus }}</div>
                        <div class="table-cell">{{ task.readiness }}</div>
                        <div class="table-cell">{{ task.waiting_for }}</div>
                        <div class="table-cell">{{ task.tags }}</div>
                        <div class="table-cell">{{ task.notes }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
   
        </div>

        {% else %}
        <p>Please login to access your dashboard</p>

    {% endif %}
    
{% endblock %}
