<!DOCTYPE html>
<html>

<head>
    {% block head %}

    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body class="body">
    <header class="header">
        {% block header %}
        {% endblock %}
    </header>
    <main class="main">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer">
        {% block footer %}
        <div>
            <p>Copyright ©2022 BlueSkyTask</p>
        </div>
        {% endblock %}
    </footer>
</body>

</html>
