{% extends 'base.html' %}

{% block head%}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">

{% endblock %}

{% block nav %}
    <a href={% url 'readiness_filter' 'inbox' %}>Inbox</a>
    <a href="{% url 'focus_filter' %}">Focus</a>

    <a href="{% url 'readiness_filter' 'anytime' %}">Anytime</a>
    <a href="{% url 'readiness_filter' 'waiting' %}">Waiting</a>
    <a href="{% url 'readiness_filter' 'sometime' %}">Sometime</a>
{% endblock %}

{% block main %}

    {% if user.is_authenticated %}
        <div>
            <p>Welcome, {{ user.username }}</p>
            <div>
                <h2>Create a new Task!</h2>
                <form action="{% url 'create_task' %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Taskit!</button>
                </form>
            </div>
            <div class="table">
                <div class="table-row">
                    <div class="table-cell">Name</div>
                    <div class="table-cell">Done</div>
                    <div class="table-cell">Due Date</div>
                    <div class="table-cell">Reminder</div>
                    <div class="table-cell">Focus</div>
                    <div class="table-cell">Readiness</div>
                    <div class="table-cell">Waiting for</div>
                    <div class="table-cell">Tags</div>
                    <div class="table-cell">Notes</div>
                </div>
                <div>
                    {% for task in tasks %}
                    <div class="table-row">
                        <div class="table-cell">{{ task.name }}</div>
                        <div class="table-cell">{{ task.done }}</div>
                        <div class="table-cell">{{ task.due_date }}</div>
                        <div class="table-cell">{{ task.reminder }}</div>
                        <div class="table-cell">{{ task.focus }}</div>
                        <div class="table-cell">{{ task.readiness }}</div>
                        <div class="table-cell">{{ task.waiting_for }}</div>
                        <div class="table-cell">{{ task.tags }}</div>
                        <div class="table-cell">{{ task.notes }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
                </form>
            </div>
        </div>
    {% else %}
        <p>Please login to access your dashboard</p>

    {% endif %}
    
{% endblock %}
